<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/form.css">
		<head>
		  <meta charset="UTF-8">
    </head>
<body>
  <h2>
    Personality Insights
  </h2>
  <img class="logos" src="/img/watson.png" alt="Imperial" class="center">
<div>
  <form action="/upload" name="formP" method="POST" id="cv-form">
    <label class="lab"  id="juj" >Nombre Completo</label>
    <input type="text" id="fname" name="Nombre" placeholder="Nombre" >
    <label class="lab" for="age">Edad</label>
    <input type="text" id="age" name="Edad" placeholder="Edad" required>
    <label class="lab" for="fnamje">Alguna vez haz dejado tus responsabilidades de lado por hacer otras cosas? Describa la situación</label>
    <input type="text" id="p1" name="p1" placeholder="Describa la situación" maxlength="3000">
    <label class="lab" for="lname">¿Cómo maneja la presión académica o laboral? ¿Qué hace para manejar la presión laboral o académica?</label class="lab" for="lname">
    <input type="text" id="p6" name="p6" placeholder="Manejo de la presión" maxlength="3000">
    <label class="lab" for="lname">¿Prefieres una persona honesta o una persona que solo te diga lo que quieres escuchar? ¿Por qué?</label>
    <input type="text" id="p2" name="p2" placeholder="Honestidad o lo que te gustaría escuchar" maxlength="3000">
    <label class="lab" for="lname">Si pudieras regresar el tiempo, ¿A qué punto de tu vida lo harías?</label>
    <input type="text" id="p3" name="p3" placeholder="Tiempo" maxlength="3000">
    <label class="lab" for="lname">¿Cuál ha sido tu mayor logro, cómo fue y cuál es tu meta a un futuro a mediano plazo?</label>
    <input type="text" id="p4" name="p4" placeholder="Logro" maxlength="3000">
    <label class="lab" for="lname">¿Cómo es un dia ideal para ti?</label>
    <input type="text" id="p5" name="p5" placeholder="Ideal" maxlength="3000">
    <input type="submit" value="Analizar">
  </form>
</div>
</body>
</html>